@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;

* {
  font-family: "Nunito", "sans-serif";
  line-height: 14px;
  letter-spacing: 0em;
  font-weight: 400;
}

.ct-bg {
  background-color: #ffffff;
}

.ct-bg-dark {
  background-color: #080B3D;
}

.ct-bg-accent {
  background-color: #6f74e7;
}

.ct-text-color-main {
  color: #080B3D;
}

.ct-text-color-muted {
  color: #838383;
}

.ct-text-color-inverted {
  color: #FBFBFB;
}

.ct-shadow {
  box-shadow: 0 0 50px rgba(87, 85, 85, 0.219);
}

.ct-bg-grad {
  background: linear-gradient(180deg, #00ADFF 0%, #4563CB 36.98%);
}

.ct-text-grad {
  background: linear-gradient(180deg, #00ADFF 0%, #4563CB 36.98%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-track {
  background: rgba(3, 3, 3, 0.15);
}

::-webkit-scrollbar-thumb {
  background: rgba(43, 40, 40, 0.7);
  border-radius: 10px;
}

::placeholder {
  color: #333a46;
}

@tailwind utilities;
