@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

@tailwind base;
@tailwind components;

* {
  font-family: "Raleway", "sans-serif";
  line-height: 14px;
  letter-spacing: 0em;
  font-weight: 400;
}

.ct-font-mont {
  font-family: "Montserrat", "sans-serif";
}

.ct-bg {
  background-color: #333a46;
}

.ct-text-color-1 {
  color: #d3d3d3;
}

.ct-text-color-2 {
  color: #ffffff9d;
}

.ct-text-color-3 {
  color: #333a46;
}

.ct-shadow {
  box-shadow: 0 0 50px rgba(87, 85, 85, 0.219);
}

.ct-bg-muted {
  background-color: #e5e7eb;
}

.ct-bg-grad {
  background: linear-gradient(90.6deg, #7472f1 -15.55%, #2e99b0 126.94%);
}

.ct-text-grad {
  background: linear-gradient(90.6deg, #7472f1 -15.55%, #2e99b0 126.94%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ct-circle-sep {
  font-size: 5px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-track {
  background: rgba(3, 3, 3, 0.15);
}

::-webkit-scrollbar-thumb {
  background: rgba(43, 40, 40, 0.7);
  border-radius: 10px;
}

::placeholder {
  color: #333a46;
}

@tailwind utilities;
